/* ************************************ */
/************GLOBAL STYLE************** */
/* ************************************ */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Light-red-CTA-text: #ff525d;
  --Very-light-red-CTA-hover-background: #ff7a85;
  --Very-dark-blue-headings-: #1f3f5b;
  --White-text: #ffffff;
  --Grayish-blue-footer-text-: #c8c8cb;
  --Very-dark-grayish-blue-body-copy: #4b5862;
  --Very-dark-black-blue-footer-background: #25252d;
  --Very-light-red: #ff8f70;
  --Light-red: #ff3d54;
  --Very-dark-gray-blue: #2c2d3f;
  --Very-dark-desaturated-blue: #3f4164;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Overpass", sans-serif;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.8rem 1.6rem;
  border: none;
  font-weight: 700;
  background-color: transparent;
}

.grid-3-col {
  grid-template-rows: 1fr 2fr;
}

.grid-3-row {
  grid-template-rows: repeat(3, 1fr);
}

.grid-2-col {
  grid-template-rows: 1fr 1fr;
}

/* ************************************ */
/************HEADER************** */
/* ************************************ */

.header {
  background-color: var(--Light-red);
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.main-nav-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5rem;
  height: auto;
  width: 90%;
  background-color: var(--White-text);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3.2rem;
  padding: 3.2rem 0;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s;
  text-align: center;
  z-index: 9999;
}

.main-nav-link {
  font-size: 2rem;
  color: var(--Very-dark-blue-headings-);
  position: relative;
  font-weight: 900;
}

.arrow {
  transform: rotate(180deg);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hamburgBtn {
  background-color: transparent;
  border: none;
}

.dropdown-nav-list {
  background-color: var(--White-text);
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 7px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  background-color: var(--Grayish-blue-footer-text-);
  font-weight: 900;
}

.hidden {
  display: none;
}

.active {
  opacity: 1;
  visibility: visible;
  pointer-events: fill;
}

.dropdown-nav-link {
  font-size: 2rem;
  color: var(--Very-dark-gray-blue);
}

.buttons {
  border-top: 0.05px solid var(--Very-dark-grayish-blue-body-copy);
  padding: 1rem 6rem 0 6rem;
}

.login {
  color: var(--Very-dark-gray-blue);
  font-size: 1.8rem;
}

.signup {
  background-color: var(--Very-light-red-CTA-hover-background);
  color: var(--White-text);
  padding: 1.6rem 4.8rem;
  border-radius: 50px;
}

/* ************************************ */
/************HERO************** */
/* ************************************ */
.hero-img {
  background-image: url("/images/bg-pattern-intro-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: var(--Light-red);
  border-bottom-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 8rem 4.8rem 4.8rem 4.8rem;
  gap: 2.4rem;
}

.hero-heading {
  font-size: 3rem;
  color: var(--White-text);
  font-weight: 400;
}

.hero-para {
  font-size: 1.6rem;
  color: var(--White-text);
}

.heroBtn {
  display: flex;
  gap: 1.2rem;
  margin-top: 4.8rem;
}

.freeBtn {
  background-color: var(--White-text);
  color: var(--Light-red-CTA-text);
  border-radius: 50px;
  padding: 1.6rem 2.4rem;
}

.LearnMoreBtn {
  color: var(--White-text);
  border-radius: 50px;
  padding: 1.6rem 2.4rem;
  border: 1px solid var(--White-text);
}

/* ************************************ */
/************PRODUCT************** */
/* ************************************ */

#product {
  padding: 4.8rem 0 9.8rem 0;
}

#product .container {
  text-align: center;
  display: flex;
  gap: 4.8rem;
  flex-direction: column;
}

.container img {
  width: 100%;
}

.text-content-heading {
  padding: 0 6.4rem;
  font-weight: 900;
}

.subheading {
  color: var(--Very-dark-gray-blue);
  font-size: 2.4rem;
  font-weight: 400;
}

.grid {
  display: grid;
  gap: 4.8rem;
}

.text-contents {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.product-text {
  color: var(--Very-dark-grayish-blue-body-copy);
  font-size: 1.8rem;
  line-height: 1.5;
}

/* ************************************ */
/************ART************** */
/* ************************************ */

#art {
  background-color: var(--Very-dark-gray-blue);
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  background-image: url("/images/bg-pattern-circles.svg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12rem 0;
}

#art .img-content {
  position: relative;
}

#art .img-content img {
  position: absolute;
  top: -50%;
}

#art .text-content {
  padding: 0 2.4rem;
  text-align: center;
}

#art .text-content-heading {
  color: var(--White-text);
}

#art .product-text {
  color: var(--White-text);
}

/* ************************************ */
/************OPENSOURCE************** */
/* ************************************ */
#opensource {
  padding: 4.8rem 0;
}

#opensource .grid {
  text-align: center;
}

#opensource .product-text {
  font-size: 1.6rem;
}

/* ************************************ */
/************Footer************** */
/* ************************************ */

#footer {
  background-color: var(--Very-dark-gray-blue);
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  text-align: center;
  padding: 3.2rem 0;
}

#footer .grid.grid-3-col {
  gap: 3.2rem;
}

.footer-sub-section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-sub-section .subheading {
  color: var(--White-text);
  font-size: 2rem;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-nav-link {
  color: var(--Grayish-blue-footer-text-);
  font-size: 1.6rem;
}
